.product__viewer_con {
  display: flex;
  width: 100%;
}
.product__viewer_con .product__img {
  flex: 6;
}
.product__viewer_con .product__img img {
  margin-top: 5em;
  margin-left: 15%;
  width: 70%;
  height: 250px;
}
.product__viewer_con .product__details {
  flex: 6;
  height: 450px;
  overflow-y: scroll;
}
.product__viewer_con
  .product__details
  .product__details__header
  .product__price {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.product__viewer_con
  .product__details
  .product__details__header
  .product__price
  p {
  font-size: 0.8rem;
}
.product__viewer_con .product__details .product__details__body {
  margin-top: 1em;
}
.product__viewer_con .product__details .product__details__body h5 {
  font-size: 0.8rem;
}
.product__viewer_con
  .product__details
  .product__details__body
  .sizes__container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product__viewer_con
  .product__details
  .product__details__body
  .sizes__container
  .size {
  border: 1px solid lightgray;
  width: fit-content;
  padding: 5px 15px;
  font-size: 0.7rem;
  border-radius: 4px;
}
.product__viewer_con .product__details .addCart__btn {
  margin-top: 1em;
}
.product__viewer_con .product__details .addCart__btn button {
  padding: 5px 15px;
  border: none;
  background-color: rgb(243, 8, 74);
  border-radius: 5px;
  color: #fff;
}
.product__viewer_con .product__details .product__description {
  margin-top: 1em;
}
.product__viewer_con .product__details .product__description h5 {
  font-size: 0.7rem;
}
.product__viewer_con .product__details .product__description p {
  font-size: 0.7rem;
  margin-top: 1em;
}
.product__viewer_con
  .product__details
  .product__description
  .product__features {
  margin-top: 1em;
}
.product__viewer_con
  .product__details
  .product__description
  .product__features
  h5 {
  margin-top: 1em;
  font-size: 0.7rem;
}
.product__viewer_con
  .product__details
  .product__description
  .product__features
  ul
  li {
  margin-top: 1em;
  font-size: 0.7rem;
  list-style-type: circle;
}
.product__viewer_con
  .product__details
  .product__details__body
  .sizes__container
  .size:not(:first-child) {
  margin-left: 1.3em;
}

.star__rating {
  font-size: 0; /* Prevent whitespace between stars */
  width: auto; /* Adjust the width of the star rating container as needed */
}
.star__rating__border {
  font-size: 0; /* Prevent whitespace between stars */
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.stars {
  display: flex;
  flex-direction: row;
  background-size: cover;
  overflow-x: hidden;
  /* width: 50%; This will be adjusted dynamically using JavaScript */
  z-index: 10;
}
.star__rating .stars .star__icon {
  font-size: 0.8rem;
  color: rgb(255, 132, 0);
  z-index: -10;
}
.stars_border {
  display: flex;
  flex-direction: row;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  z-index: 10;
}
